* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    width: 99%;
    padding: .5%;
    display: flex;
    justify-content: center;
    background-color: #283040;
    color: #F2B6C1;
    border-radius: 15px;
    box-shadow: 10px 10px 50px gray;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.insert {
    width: 20%;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2B6C1;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 10px 10px 50px gray;
}
#peso {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
}
#altura {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
}

#peso:focus {
    outline: none;
}

#altura:focus {
    outline: none;
}

button {
    font-weight: bold;
    width: 28%;
    padding: 10px;
    background-color: #283040;
    color: #F2B6C1;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: .5s;
}

button:hover {
    background-color: #304775;
    transition: ease-in .5s;
}
button:active {
    background-color: #5877b4;
    transition: none;
}
